numpy
scipy == 1.5.*
sympy
jax
jaxlib
#autograd # use if jaxlib gives you trouble, make sure jax is uninstalled then
setuptools 
pytest
openfermion
qulacs # default simulator, remove if the installation gives you trouble
cmake # needed by qulacs, can be removed otherwise

#optional quantum backends
#cirq
#qiskit
#pyquil # you need to install the forest-sdk
#qulacs-gpu

#optional third party lin¡braries