Sphinx==3.2.1
sphinx-autodoc-variants==0.1.0
sphinx-automodapi==0.13
sphinx-bootstrap-theme==0.7.1
sphinx-jinja==1.1.1
sphinx-markdown-tables==0.0.15
sphinx-rst-builder==0.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
recommonmark==0.6.0
nbconvert==5.6.1
nbformat==4.4.0
traitlets==4.3.3
Markdown==3.2.2
numpydoc==1.1.0

